.btn {
  background-color: rgba(40, 148, 243, 0.294);
  border: none;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 0.5em;
  margin: 0.5em;
}
