@use "../../scss/partials/colors" as C;

.btn {
  background-color: C.$default;
  border: 2px, solid, C.$border;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.5em;
  margin: 1em;
  &:hover {
    box-shadow: 2px 2px;
    transition: all 2ms ease-out;
  }
}

//category tags

.tag {
  border: 2px, solid, C.$border;
  padding: 2px 10px;
  background-color: none;
  font-size: 14px;
  margin: 0.5em;
}

//variant colors

.warning {
  background-color: C.$warning;
  color: whitesmoke;
}

.success {
  background-color: C.$success;
  color: whitesmoke;
}
