.btn {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.5em;
  margin: 1em;
  &:hover {
    // transform: scale(1.1); //10% larger
    // transition: transform 0.2s;
    background-color: black;
    color: aliceblue;
  }
}
