//SECTION 1 - Palettes / Themes

//Palette 1
$reseda-green: #6c7352ff;
$moss-green: #8a956dff;
$sage: #c3cfa1ff;

//Palette 2
$green: #9bbc0f;
$charcoal: #2e2e2e;
$soft-gray: #888888;
$faded-green: #b0c987;

//Palette 3 - https://coolors.co/526514-1a1e61-961e54-bfc0bb-000000
$penn-blue: #1a1e61ff;
$murrey: #961e54ff;
$silver: #bfc0bbff;
$black: #000000ff;

//SECTION 2 - Variables in use

//Brand
$primary: $moss-green;
$secondary: $penn-blue;

//Text
$text-light-mode: $black;
$text-dark-mode: $silver;
$text-emphasis: $secondary;
$text-warning: none;

//Background
$bg-light: #c3cfa1ff;
$bg-dark: #030303ff;

//Button
$default: $soft-gray;
$emphasis: $secondary;
$border: #dddddd;
$hover: #222222;
$warning: red;
$success: darkgreen;
