@mixin page {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
}

@mixin message {
  max-width: 100%;
  width: fit-content;
  padding: 20px;
  border: 5px dashed red;
  border-radius: 8px;
  margin: 50px;
}

@mixin wrapper {
  display: flex;
  flex-direction: column;
  &_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

@mixin modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
