@mixin page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  overflow-wrap: break-word;
}

@mixin message {
  max-width: 100%;
  width: fit-content;
  padding: 20px;
  border: 5px dashed red;
  border-radius: 8px;
  margin: 50px;
}

@mixin wrapper($direction: column) {
  max-width: 100%;
  display: flex;
  flex-direction: $direction; //column by default, pass in row
  align-items: center;
  justify-content: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
