@mixin page {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
}

@mixin message {
  max-width: 100%;
  width: fit-content;
  padding: 20px;
  border: 5px dashed red;
  border-radius: 8px;
  margin: 50px;
}

@mixin wrapper {
  display: flex;
  flex-direction: column;
}

@mixin wrapper_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

@mixin modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

@mixin minimalBtn {
  background-color: rgba(40, 148, 243, 0.294);
  margin: 0px;
}
