@use "../../../scss/partials/colors" as C;

.btn {
  background-color: C.$default;
  border: 2px, solid, C.$border;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.5em;
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  svg {
    object-fit: contain;
  }
}

.tag {
  //category tags
  border: 2px, solid, C.$border;
  padding: 2px 10px;
  background-color: none;
  font-size: 14px;
  margin: 0.5em;
}

//effects

.hover {
  &_shadow {
    :hover {
      box-shadow: 2px 2px;
      transition: all 2ms ease-out;
    }
  }
  &_highlight {
    :hover {
      color: C.$highlight;
    }
  }
}

//variant colors

.warning {
  background-color: C.$warning;
  color: C.$highlight;
}

.success {
  background-color: C.$success;
  color: C.$highlight;
}
