@use "./scss/partials/typography" as T;
@use "./scss/partials/colors" as C;

:root {
  font-family: T.$text;
  line-height: 1.5;

  color-scheme: light dark;
  color: C.$sage;
  background-color: C.$black;

  box-sizing: border-box;
}

.h1 {
  font-family: T.$heading;
}

@media (prefers-color-scheme: light) {
  :root {
    color: C.$black;
    background-color: C.$sage;
  }
}
