@use "./scss/partials/typography" as T;
@use "./scss/partials/colors" as C;

:root {
  width: 100%;
  font-family: T.$text;
  line-height: 1.5;

  color-scheme: light dark;
  color: C.$text-dark-mode;
  background-color: C.$bg-dark;

  box-sizing: border-box;
}

.h1 {
  font-family: T.$heading;
}

@media (prefers-color-scheme: light) {
  :root {
    color: C.$text-light-mode;
    background-color: C.$bg-light;
  }
}
