@use "../../../scss/partials/mixins" as mixins;
.form {
  margin: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.096);
  border-radius: 20px;
  color: red;
  font-size: small;
  padding: 5px;
  gap: 5px;
  width: fit-content;
  align-self: center;
}

.btn {
  @include mixins.minimalBtn;
  font-size: smaller;
  height: fit-content;
}
