@use "../../../../scss/partials/mixins" as M;

.card {
  @include M.wrapper(row);
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  border-radius: 0.5em;
  background-color: rgba(151, 151, 151, 0.149);
  margin: 0.5em;
  width: 100%;
}

.title {
  @include M.wrapper(row);
  max-width: 300px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  justify-items: flex-start;
  text-align: left;
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
  background-color: rgba(79, 170, 170, 0.445);
}

.row {
  @include M.wrapper(row);
}

.checkbox {
  margin: 10px;
  &:hover {
    background-color: transparent;
  }
}

.strike {
  text-decoration: line-through;
}
