@use "../../../../scss/partials/mixins" as M;

.cardStyle {
  @include M.wrapper;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 0px;
  border-radius: 20px;
  margin: 0.5em;
  width: 100%;
}

.listStyle {
  @include M.wrapper(row);
  height: 80px;
  width: 100%;
  justify-content: space-between;
  overflow-x: scroll;
  scrollbar-width: none;
  text-overflow: ellipsis;
}

.header {
  @include M.wrapper(row);
  display: block;
  width: 100%;
  overflow: hidden;
}

.taskData {
  @include M.wrapper(row);

  justify-content: space-around;
  background-color: rgb(0, 255, 47);
}

.dueDate {
  @include M.wrapper(row);
  flex-wrap: nowrap;
  background-color: rgb(25, 0, 255);
}

.hidden {
  visibility: visible;
}
